<!DOCTYPE html>
<html>
<head>
    <title>Air purifier Data</title>
    <link rel="stylesheet" href="../static/background_info.css>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>

<body>
<header>
    <nav>
        <h1>Project - Air Quality System</h1>
        <ul>
            <li><a href="index.html">Login</a></li>
            <li><a href="airpurifier.html" class="active">Air Data</a></li>
            <li><a href="background.html">Home/Background</a></li>
        </ul>
    </nav>
</header>

<h1>Air purifier Data</h1>

<div class="dataBox">
    <h3>----- Air Data -----</h3>
    <p>💨 Gas: <span id="gas">Loading...</span></p>
    <p>🌡️° Temperature: <span id="temperature">Loading...</span></p>
    <p>☀️ Humidity: <span id="humidity">Loading...</span></p>
    <p>🗜 Pressure: <span id="pressure">Loading...</span></p>
    <p>🌫 IAQ: <span id="iaq">Loading...</span></p>
    <p>🫁 CO₂: <span id="co2">Loading...</span> ppm</p>
    <p>🧪 VOC: <span id="voc">Loading...</span></p>
    <h3>--------------------</h3>
</div>

<div class="dataBox">
    <h3>----- GPS Data -----</h3>
    <p>Latitude: <span id="lat">Loading...</span></p>
    <p>Longitude: <span id="lon">Loading...</span></p>
    <h3>--------------------</h3>
</div>


<button onclick="refreshBtn">Refresh Data</button>

<footer>
<p>© 2026 Air Quality Sensor Project</p>
</footer>

<script src="../static/airpurifier.js"></script>

</body>
</html>