<!DOCTYPE html>
<html>
<head>
    <title>Air purifier Data</title>
    <link rel="stylesheet" href="../static/background_info.css">

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='airpurifier.js') }}"></script>
</head>

<body>
<header>
    <nav>
        <h1>Project - Air Quality System</h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Login</a></li>
            <li><a href="{{ url_for('airpurifier') }}" class="active">Air Data</a></li>
            <li><a href="{{ url_for('background') }}">Home/Background</a></li>
        </ul>
    </nav>
</header>

<h1>Air purifier Data</h1>

<div class="dataBox">
    <p>gas: <span id="gas"> Ω</span></p>
    <p>Temperature: <span id="temperature"> °C</span></p>
    <p>Humidity: <span id="humidity"> %</span></p>
    <p>Pressure: <span id="pressure"> hPa</span></p>
    <p>Latitude: <span id="lat">Loading...</span></p>
    <p>Longitude: <span id="lon">Loading...</span></p>
</div>

<button onclick="getData()">Refresh Data</button>

<script>

    const socket = io("http://localhost:14473");

    socket.on('air_data', (data) => {
        console.log(data);
    });

    socket.on('gps_data', (data) => {
        console.log(data);
    });

</script>

<footer>
<p>© 2026 Air Quality Sensor Project</p>
</footer>

</body>
</html>

