<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Quality Sensor Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="login-container">
    <h2>Air Quality Monitor</h2>

    <input type="text" id="username" placeholder="Username">
    <input type="text" id="password" placeholder="Password">

    <button id="loginBtn">Login</button>

    <p id="message"></p>

</div>

<script src="../login.js">
    /**
     * * This is where Javascript sends in the request for the login
     * */
    fetch("/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            "username": document.getElementById("username").value,
            "password": document.getElementById("password").value
        })
    })
        .then(response => response.json())
        .then(data => {
            if(data.status === "success"){
                alert("Login Successful");
            }
            else {
                alert("Login Failed");
            }
        })
</script>

</body>

</html>